.cabecalho {

    width: 100%;
    height: 50px;
    background-color: goldenrod;
}
.menu_inicial ul{
    
    float: right;
    list-style: none;
    margin-right: 10px;
    padding-right: 10px;
   
}

.menu_inicial li {
    
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 20px;

}
.menu_inicial a {

    font-size: 18px;
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    font-weight: 300;

}

